#aboutUs{
    background-image:url(imgs/background.png), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 6rem;
    font-family: 'Lato', sans-serif;
}
.aboutBody{
    margin-left: 50px;
    margin-right: 53px;
}

.aboutBody p{
    color: white;
    line-height: 3;
    font-size: medium;
}

.aboutBody img{
    width: 450px;
    height: 300px;
    border-radius: 30px;
    margin-left: auto;
}