.container{
    min-width: 98.7vw;
    margin: 0px;
    margin-right: 0px;
}
#whyZeww{
    background-image: radial-gradient(rgb(212, 107, 2),rgb(189,189,189), rgb(218, 201, 49));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 6rem;
    font-family: 'Lato', sans-serif;
}
#whyHeader{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.whyDiv{
    margin-left: 50px;
}
.channels, .search, .integration, .security{
    width: 23rem;
    height: 27rem;
    background: #cccccc8a;
    border-radius: 28px;
    margin-right: 5rem;
}
#titleDiv{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-top: 4rem;
}
#titleDiv h4{
    color:white;
    font-size: 25px;
}
#titleDiv i{
    color: #FFEB3B;
    font-size: 50px;
    margin-left: 1.2rem;
}
#description{
    color: white;
    margin-left: 3rem;
}
@media only screen and (max-width: 654px) and (min-width: 400px){
    .channels, .search, .integration, .security{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}